.postcard {
  border-right: 20px;
  height: 100%;
  width: 300px;
}
.postMedia {
  height: 0;
  padding-top: 56.25%;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
  cursor: pointer;
}
.overlay {
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
}
.overlay2 {
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
}
.title {
  padding: 0 16px;
}
.cardActions {
  padding: 0 16px 8px 16px;
}
